
.img-icon {
  width: 40px; /* Imposta la larghezza desiderata */
  height: 40px; /* Imposta l'altezza desiderata */
  cursor: pointer; /* Cambia il cursore al passaggio */
}






.boxindex{
  
  background: rgb(22, 153, 239);

}

